/*fonts styles imports*/
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Gochi+Hand&display=swap');
/*end fonts styles imports*/

body {
  background-image: url('../assets/body/background_desktop.jpg');
  padding: 0px;
  margin: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-color: #000;
}
/* end body general styles */
header {
  display: flex;
  align-items: center;
  padding: 16px 10px;
  background-color: #000;
  border-bottom: 2px solid #fcb131;
  .logoHeader {
    max-height: 52px;
    max-width: 250px;
  }
  .titleHeader {
    margin: auto;
    color: #fff;
    font-family: 'Berkshire Swash', serif;
    font-size: 46px;
  }
  .flagHeader {
    position: absolute;
    top: 7px;
    width: 188px;
    right: 30px;
  }
}
@media (max-width: 1500px) {
  header {
    display: flex;
    align-items: baseline;
    flex-direction: column;
    .logoHeader {
      max-height: 52px;
      max-width: 250px;
    }
    .titleHeader {
      padding-top: 10px;
      margin: auto 0;
      font-size: 32px;
    }
    .flagHeader {
      width: 160px;
      right: 30px;
    }
  }
}
@media (max-width: 780px) {
  header {
    .titleHeader {
      font-size: 17px;
    }
    .flagHeader {
      width: 60px;
      right: 6px;
    }
  }
}
/* end header general styles */
/* start body content */
.firstImgsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 16px;
  padding: 16px;
  img {
    z-index: 900;
    max-width: 100%;
    flex: 1 1 300px;
  }
  .letterImg {
    justify-self: end;
  }
}
@media (max-width: 600px) {
  .firstImgsContainer {
    img {
      flex: 1 1 100%;
    }
  }
}
/* end first container imgs */
.stepsFormContainer {
  margin-top: -32px;
  padding: 0 48px 150px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 16px;
  justify-self: center;
  font-size: 37px;
  .stepsContainer {
    color: #000;
    font-family: 'Gochi Hand', cursive;
  }
  .stepsContainer {
    padding-top: 50px;
  }
  .formContainer {
    .headerForm {
      width: 100%;
      height: fit-content;
      text-align: center;
      background-color: #000;
      p {
        margin: 0;
        font-family: 'Berkshire Swash', serif;
        color: #fff;
      }
    }
    .inputsContainer {
      display: flex;
      flex-direction: column;
      background-color: #fcb131;
      padding: 5px 11px 11px;
      input:first-child {
        margin-bottom: 20px;
      }
      input {
        padding: 15px 13px;
        border-radius: 10px;
        border: none;
      }
      button {
        margin-top: 15px;
        cursor: pointer;
        border: none;
        background-color: transparent;
        transition: transform 0.3s ease;
      }
      button:hover {
        transform: scale(0.9);
      }
      .bounce-scale:active {
        transform: scale(1.1);
      }
      .privacityLetter {
        padding-top: 10px;
        text-align: center;
        font-size: 13px;
        font-family: "Arial";
        color: #000;
        a{
          color: #000;
        }
      }
    }
  }
}

@media (max-width: 960px) {
  .stepsFormContainer {
    margin-top: 0;
    grid-template-columns: 1fr;
    justify-items: center;
    font-size: 31px;
    .stepsContainer {
      padding-top: 0;
    }
    .formContainer {
      .headerForm {
        display: none;
      }
      .inputsContainer {
        background-color: transparent;
        input {
          border: 2px solid red;
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .stepsFormContainer {
    font-size: 25px;
    .formContainer {
      .headerForm {
        display: none;
      }
      .inputsContainer {
        background-color: transparent;
        input {
          width: 280px;
          margin: auto;
        }
        button {
          img{
            width: 300px;
            margin: auto;
          }
        }
      }
    }
  }
}

footer {
  width: 100%;
  padding-bottom: 60px;
  text-align: center;
  color: #fff;
  font-size: 12px;
  line-height: 17px;
  font-family: 'Arial';
  background-color: #000;
  border-top: 2px solid #fcb131;
  a {
    color: #fff;
  }
  .footerContainer {
    max-width: 1400px;
    margin: auto;
    .descriptionFooter {
      text-align: justify;
    }
  }
}
@media (max-width: 640px) {
  footer {
    padding-bottom: 30px;
    .footerContainer {
      .copyRight {
        margin-bottom: 0;
      }
      .descriptionFooter {
        display: none;
      }
    }
  }
}
@media (max-width: 1500px) {
  footer {
    .footerContainer {
      padding: 0 48px;
    }
  }
}
/* end footer general styles */
